.small-button1 {
    
    --background: #ea0014; /* Use Ionic CSS variables for theming */
    --background-activated: #7b1fa2; /* Darker purple on activation/hover */
    --background-focused: #7b1fa2;
    --color: #ffffff;
     
  }