.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust height handling for mobile responsiveness */
}

.logo {
    width: 200px; /* Control size via CSS or directly in the IonImg component */
    margin-bottom: 20px;
}

.proceed-button {
    width: 100%; /* Makes the button expand to fill its container */
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    --background: #0d3ec5; /* Use Ionic CSS variables for theming */
    --background-activated: #7611a1; /* Darker purple on activation/hover */
    --background-focused: #7611a1; /* Consistent with hover */
    --border-radius: 8px; /* Ionic supports CSS variables for border radius */
    font-family: 'Roboto', sans-serif; /* Ensure the font is loaded as part of global styles if needed */
}

.red-button {
    width: 100%; /* Makes the button expand to fill its container */
    
    font-size: 16px;
    text-align: center;
    --background: #e6334b; /* Use Ionic CSS variables for theming */
    --background-activated: #7611a1; /* Darker purple on activation/hover */
    --background-focused: #7611a1; /* Consistent with hover */
    --border-radius: 10px; /* Ionic supports CSS variables for border radius */
    font-family: 'Roboto', sans-serif; /* Ensure the font is loaded as part of global styles if needed */
}

/* Optional: You might want to add hover effects for web-specific interactions */
@media (hover: hover) {
    .proceed-button:hover {
        background-color: #7b1fa2; /* Darker purple on hover */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Adds shadow on hover */
    }
}

/* Base style for larger screens */
.ion-title {
    font-size: 20px; /* Default font size */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 900px) {
    .ion-title {
        flex: 1;  
        text-align: center;
        font-size: 4vw; /* 1vw is 1% of the viewport's width */

        padding: 0; /* Smaller font size for mobile devices */
    }
    .ion-toolbar {
        display: flex;
        justify-content: space-between;  
        align-items: center;
        padding: 0 0; 
    }
}
